{% extends 'base.html' %}
{% load static %}
{% block title %}
  About
{% endblock %}

{% block content %}
  <div class="container my-4">
    <div class="row">
      <div class="col-12 col-md-4 d-flex justify-content-center align-items-center mb-3 mb-md-0">
        <img src="{% static 'images/myimage.jpg' %}" alt="image" class="about_image img-fluid" />
      </div>
      <div class="col-12 col-md-8 text-center text-md-left text-light">
        <h2>Hello!</h2>
        <p class="fs-5">I have a diverse background encompassing skills that include Python programming, efficient use of Django and Django REST framework, MySQL and SQLite databases, and Git operations.</p>
        <p class="fs-5">As a Backend Web Developer, I focus my attention towards creating efficient APIs that meet the needs of my clients, essential authentication capabilities, securing user access and data access to ensure its integrity, and providing an easy way for the front-end integration of my applications.</p>
        <p class="fs-5">I have a strong understanding of key Python syntax, concepts, and best practices when it comes to Python programming and the use of Django Framework.</p>
      </div>
    </div>
  </div>


  <div class="row my-2">
    <h2 class="text-center" style="color:#4fffb0">My Tech Stack</h2>
  </div>
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <style>
      .carousel img{
        height: 50vh;
        object-fit: contain;
      }
      .carousel-caption-bottom {
        position: static; /* POSITION STRATEGICALLY */
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5); /* DARKER BACKGROUND */
        color: white; /* READABLE COLOR */
        padding: 10px 0;
      }
    </style>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="1500">
        <img src="{% static 'images/python.png' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption-bottom">
          <h5>Python</h5>
        </div>
      </div>
      
      <div class="carousel-item" data-bs-interval="1500">
        <img src="{% static 'images/django.png' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption-bottom">
          <h5>Django</h5>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="1500">
        <img src="{% static 'images/mysqldb.png' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption-bottom">
          <h5>MYSQL Database</h5>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="1500">
        <img src="{% static 'images/sq.png' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption-bottom">
          <h5>SQLITE Database</h5>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="1500">
        <img src="{% static 'images/git.png' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption-bottom">
          <h5>Version Control</h5>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="1500">
        <img src="{% static 'images/djangorestframework.png' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption-bottom">
          <h5>Django Rest Framework</h5>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% endblock %}
