{% extends "base.html" %}
{% load static %}
{% block title %} Certification {% endblock title %}

{% block content %}
    <div class="row">
        {% for certificate in certificates %}
        <div class="col-12 col-md-6 mb-3">
        <div class="jumbtron jumbtron-fluid mt-2">
            <h1 class="display4">Certificate Name: {{certificate.name}}</h1>
            <p class="lead">Institution: {{certificate.issuer}}</p>
            <p class="lead">Date Awarded: {{certificate.issue_date}}</p>

        </div>
        </div>
        {% endfor %}
        
    </div>
{% endblock content %}